<!DOCTYPE html>
<html>
  <head>
    <title>End of Survey</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='final_page.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Branding/ScooterFavicon.png') }}"
      sizes="32x32"
    />
  </head>

  <body>
    <div class="containerFinalPage">
      <h2>Thank you for your participation!</h2>

      <p>
        Unfortunately, it seems that you have already participated in our study.
        If that is not the case, feel free to contact us at
        <a href="mailto:dren.fazlija@l3s.de">dren.fazlija@l3s.de</a> and briefly
        explain your situation.
      </p>
    </div>
    {% include 'footer.html' %}
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    // Assuming window.location.href is 'https://l3s.scooter.com?PROLIFIC_PID=5a9d64f5f6dfdd0001eaa73d'
    var params = null;
    var prolificPid = null;

    // Load and check the prolific pid as soon as the page loads
    document.addEventListener("DOMContentLoaded", (event) => {
      redirectMobileUsers(userAgentString);
      params = new URLSearchParams(window.location.search);
      prolificPid = params.get("PROLIFIC_PID");

      if (prolificPid === null) {
        window.location.replace("/error");
      }
    });
  </script>
</html>
