<!DOCTYPE html>
<html>
  <head>
    <title>Unexpected Error</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='final_page.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Branding/ScooterFavicon.png') }}"
      sizes="32x32"
    />
  </head>
  <body>
    <div class="containerFinalPage">
      <h2>Unexpected Error :(</h2>

      <div class="centered-image-container">
        <img
          src="{{ url_for('static', filename='images/Branding/ScooterUnexpectedError.png') }}"
          alt="Scooter Logo"
        />
      </div>
      <p>We are working on fixing the problem. Be back soon!</p>
    </div>
    {% include 'footer.html' %}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      redirectMobileUsers(userAgentString);
    });
  </script>
</html>
