<footer>
  <div class="container" style="text-align: center; max-width: 800px">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          © 2025
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://dren-fazlija.notion.site/"
            >Dren Fazlija</a
          >
          |
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="{{ url_for('notices.privacy_policy') }}"
            >Privacy Policy</a
          >
          |
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="{{ url_for('notices.cookie_policy_eu') }}"
            >Cookie Policy (EU)</a
          >
          |
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="{{ url_for('notices.imprint') }}"
            >Imprint</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
