<!DOCTYPE html>
<html>
  <head>
    <title>Overview</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Branding/ScooterFavicon.png') }}"
      sizes="32x32"
    />
  </head>

  <body>
    <div class="container">
      <h2>Debug Overview</h2>
    </div>
  </body>
</html>
