<!DOCTYPE html>
<html>
  <head>
    <title>Cookie Policy (EU)</title>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Branding/ScooterFavicon.png') }}"
      sizes="32x32"
    />

    <style>
      body {
        font-family: Arial, sans-serif;
      }
      header {
        text-align: center;
        padding: 20px;
        background-color: #f3f3f3;
      }
      header img {
        width: 100%;
        height: auto;
      }
      table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        word-wrap: break-word;
      }
      .container {
        width: 80%;
        max-width: 1500px;
      }
    </style>
  </head>

  <body>
    <header>
      <img
        src="static/images/Branding/ScooterLogoBanner.png"
        alt="Header Image"
      />
    </header>

    <div class="container">
      <h2>Cookie Policy (EU)</h2>

      <p>
        This Cookie Policy was last updated on 22.05.2024 and applies to
        citizens and legal permanent residents of the European Economic Area and
        Switzerland.
      </p>

      <h3>1. Introduction</h3>
      <p>
        Our website,
        <a href="http://scooter.l3s.uni-hannover.de/"
          >http://scooter.l3s.uni-hannover.de/</a
        >
        (hereinafter: “the website”) uses cookies and other related technologies
        (for convenience all technologies are referred to as “cookies”). Cookies
        are also placed by third parties we have engaged. In the document below
        we inform you about the use of cookies on our website.
      </p>

      <h3>2. What are cookies?</h3>

      <p>
        A cookie is a small simple file that is sent along with pages of this
        website and stored by your browser on the hard drive of your computer or
        another device. The information stored therein may be returned to our
        servers or to the servers of the relevant third parties during a
        subsequent visit.
      </p>

      <h3>3. What are scripts?</h3>
      <p>
        A script is a piece of program code that is used to make our website
        function properly and interactively. This code is executed on our server
        or on your device.
      </p>

      <h3>4. What is a web beacon?</h3>

      <p>
        A web beacon (or a pixel tag) is a small, invisible piece of text or
        image on a website that is used to monitor traffic on a website. In
        order to do this, various data about you is stored using web beacons.
      </p>

      <h3>5. Cookies</h3>

      <h4>5.1 Technical or functional cookies</h4>

      <p>
        Some cookies ensure that certain parts of the website work properly and
        that your user preferences remain known. By placing functional cookies,
        we make it easier for you to visit our website. This way, you do not
        need to repeatedly enter the same information when visiting our website
        and, for example, the items remain in your shopping cart until you have
        paid. We may place these cookies without your consent.
      </p>

      <h4>5.2 Statistics cookies</h4>

      <p>
        We use statistics cookies to optimize the website experience for our
        users. With these statistics cookies we get insights in the usage of our
        website. We ask your permission to place statistics cookies.
      </p>

      <h4>5.3 Marketing/Tracking cookies</h4>

      <p>
        Marketing/Tracking cookies are cookies or any other form of local
        storage, used to create user profiles to display advertising or to track
        the user on this website or across several websites for similar
        marketing purposes.
      </p>

      <h4>5.4 Social media</h4>

      <p>
        We have not added social media sharing options to this website and do
        not use any social media cookies.
      </p>

      <h3>6. Placed cookies</h3>

      <p>
        Beyond your ratings given in the main study, we do not store any
        information via cookies (apart from functionally necessary cookies).
      </p>

      <h3>7. Consent</h3>

      <p>
        When you visit our website through a link provided by Prolific, you will
        be asked to give your consent to the use of cookies as described in this
        Cookie Policy. If you do not give your consent, you will not be able to
        participate in the study. You can revoke your consent at any time by
        deleting the cookies in your browser.
      </p>

      <h3>8. Enabling/disabling and deleting cookies</h3>

      <p>
        You can use your internet browser to automatically or manually delete
        cookies. You can also specify that certain cookies may not be placed.
        Another option is to change the settings of your internet browser so
        that you receive a message each time a cookie is placed. For more
        information about these options, please refer to the instructions in the
        Help section of your browser.
      </p>

      <p>
        Please note that our website may not work properly if all cookies are
        disabled. If you do delete the cookies in your browser, they will be
        placed again after your consent when you visit our website again.
      </p>

      <h3>9. Your rights with respect to personal data</h3>

      <p>You have the following rights with respect to your personal data:</p>

      <ol>
        <li>
          You have the right to know why your personal data is needed, what will
          happen to it, and how long it will be retained for.
        </li>
        <li>
          Right of access: You have the right to access your personal data that
          is known to us.
        </li>
        <li>
          Right to rectification: you have the right to supplement, correct,
          have deleted or blocked your personal data whenever you wish.
        </li>
        <li>
          If you give us your consent to process your data, you have the right
          to revoke that consent and to have your personal data deleted.
        </li>
        <li>
          Right to transfer your data: you have the right to request all your
          personal data from the controller and transfer it in its entirety to
          another controller.
        </li>
        <li>
          Right to object: you may object to the processing of your data. We
          comply with this, unless there are justified grounds for processing.
        </li>
      </ol>

      <p>
        To exercise these rights, please contact us. Please refer to the contact
        details at the bottom of this Cookie Policy. If you have a complaint
        about how we handle your data, we would like to hear from you, but you
        also have the right to submit a complaint to the supervisory authority
        (the Data Protection Authority).
      </p>

      <h3>10. Contact details</h3>
      <p>
        For questions and/or comments about our Cookie Policy and this
        statement, please contact us by using the following contact details:
      </p>

      Dren Fazlija<br />
      Forschungszentrum L3S<br />
      Appelstr. 4<br />
      30167 Hannover<br />
      Germany<br />
      Website:
      <a href="https://drenfazlija.github.io/">https://drenfazlija.github.io/</a
      ><br />
      E-Mail: <a href="mailto:dren.fazlija@l3s.de">dren.fazlija@l3s.de</a>
    </div>
  </body>
</html>
