<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policy</title>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Branding/ScooterFavicon.png') }}"
      sizes="32x32"
    />

    <style>
      body {
        font-family: Arial, sans-serif;
      }
      header {
        text-align: center;
        padding: 20px;
        background-color: #f3f3f3;
      }
      header img {
        width: 100%;
        height: auto;
      }
      table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        word-wrap: break-word;
      }
      .container {
        width: 80%;
        max-width: 1500px;
      }
    </style>
  </head>

  <body>
    <header>
      <img
        src="static/images/Branding/ScooterLogoBanner.png"
        alt="Header Image"
      />
    </header>

    <div class="container">
      <h2>Privacy Policy</h2>

      <h3>Name and Address of the Person Responsible</h3>

      <p>
        The person responsible within the meaning of the EU General Data
        Protection Regulation (GDPR) and other national data protection laws and
        regulations is:
      </p>

      Gottfried Wilhelm Leibniz Universität Hannover<br />
      Welfengarten 1<br />
      30167 Hannover<br /><br />

      Tel. +49 511 762 – 0<br />
      Fax +49 511 762 – 3456<br /><br />

      <a href="https://www.uni-hannover.de/">www.uni-hannover.de</a>

      <p>
        Leibniz Universität Hannover is a corporation under public law and is
        legally represented by its President, Prof. Dr. iur. Volker Epping.
      </p>

      <h3>Name and Address of the Data Protection Officer</h3>

      <p>The data protection officer of Leibniz Universität Hannover is:</p>

      Gottfried Wilhelm Leibniz Universität Hannover<br />
      – Datenschutzbeauftragter –<br />
      Königsworther Platz 1<br />
      D – 30167 Hannover<br /><br />

      Tel. +49 511 762-8132<br />
      Fax +49 511 762-8258<br /><br />

      E-Mail:
      <a href="mailto:datenschutz@uni-hannover.de"
        >datenschutz@uni-hannover.de</a
      ><br />
      <a
        href="https://www.uni-hannover.de/de/universitaet/organisation/praesidialstab-stabsstellen/datenschutz"
        >Website</a
      >

      <h3>General Information on Data Processing</h3>

      <p>
        We process our users’ personal data only insofar as this is necessary to
        provide a functioning website as well as our content and services. The
        processing of our users’ personal data generally only takes place with
        the user’s consent. An exception applies in those cases where prior
        consent cannot be obtained for factual reasons and processing of the
        data is permitted by law.
      </p>

      <h3>Provision of the Website and Creation of Log Files</h3>

      <p>
        Every time you visit our website, our system automatically collects data
        and information from the computer system of the calling computer.
      </p>

      <p>The following data is collected:</p>

      <ul>
        <li>Information about the browser type and version used</li>
        <li>The user’s operating system</li>
        <li>The user’s IP address</li>
        <li>Date and time of access</li>
        <li>Websites from which the user’s system accesses our website</li>
        <li>Websites accessed by the user’s system via our website</li>
      </ul>

      <p>
        The data is also stored in the log files of our system. This data is not
        stored together with the user’s other personal data. The legal basis for
        the temporary storage of data and log files is Article 6 paragraph 1
        letter f GDPR.
      </p>

      <p>
        The temporary storage of the IP address by the system is necessary to
        enable the website to be delivered to the user’s computer. For this the
        IP address of the user must remain stored for the duration of the
        session. The data is stored in log files to ensure the functionality of
        the website. In addition, the data serves us to optimize the website and
        to ensure the security of our information technology systems. An
        evaluation of the data for marketing purposes does not take place in
        this context. Our legitimate interest in data processing pursuant to
        Article 6 paragraph 1 letter f GDPR also lies in these purposes.
      </p>

      <p>
        The data will be deleted as soon as they are no longer necessary to
        achieve the purpose for which they were collected. In the case of the
        collection of data for the provision of the website, this is the case
        when the respective session has ended.
      </p>

      <p>
        If the data is stored in log files, this is the case after seven days at
        the latest. Further storage is possible. In this case, the IP addresses
        of the users are deleted or alienated, so that an assignment of the
        calling client is no longer possible.
      </p>

      <p>
        The collection of data for the provision of the website and the storage
        of data in log files is absolutely necessary for the operation of the
        website. Consequently, there is no possibility of objection on the part
        of the user.
      </p>

      <h3>Contact Form and E-Mail Contact</h3>

      <p>
        There is a contact form on our website which can be used for electronic
        contact. If a user takes advantage of this possibility, the data entered
        in the input mask will be transmitted to us and stored. Your consent is
        obtained for the processing of the data within the scope of the sending
        process and reference is made to this data protection declaration.
        Alternatively, you can contact us via the e-mail address provided. In
        this case, the user’s personal data transmitted by e-mail will be
        stored. In this context, the data will not be passed on to third
        parties. The data is used exclusively for processing the conversation.
        The legal basis for the processing of data is Article 6 paragraph 1
        letter a GDPR if the user has given his consent. The legal basis for the
        processing of data transmitted in the course of sending an e-mail is
        Article 6 paragraph 1 letter f GDPR. If the e-mail contact aims at the
        conclusion of a contract, then additional legal basis for the processing
        is Article 6 exp. 1 letter b GDPR.
      </p>

      <p>
        The processing of the personal data from the input mask serves us only
        for the treatment of the establishment of contact. In the event of
        contact by e-mail, this also constitutes the necessary legitimate
        interest in the processing of the data.
      </p>

      <p>
        The other personal data processed during the sending process serve to
        prevent misuse of the contact form and to ensure the security of our
        information technology systems.
      </p>

      <p>
        The data will be deleted as soon as they are no longer necessary to
        achieve the purpose for which they were collected. For the personal data
        from the input mask of the contact form and those that were sent by
        e-mail, this is the case when the respective conversation with the user
        is finished. The conversation is terminated when it can be inferred from
        the circumstances that the facts in question have been finally
        clarified.
      </p>

      <p>
        The additional personal data collected during the sending process will
        be deleted after a period of seven days at the latest.
      </p>

      <p>
        The user has the possibility to revoke his consent to the processing of
        personal data at any time. If the user contacts us by e-mail, he can
        object to the storage of his personal data at any time. In such a case,
        the conversation cannot be continued. All personal data stored in the
        course of contacting us will be deleted in this case.
      </p>

      <h3>Form Entries</h3>

      <p>
        Where internet services allow for the entry of personal or business data
        (E-mail addresses, names, addresses), disclosing this data is on an
        expressly voluntary basis on the part of the user. The legal basis for
        such processing is Article 6 paragraph 1 letter a) GDPR. The collection
        and processing of data serves only the purpose stated in the respective
        online form. A disclosure or passing on to third parties does not take
        place. Using and paying for all services offered is – as far as this is
        technically possible and reasonable – granted also without disclosure of
        such data or through the use of anonymized data or a pseudonym. The use
        by third parties of contact data published in the imprint or similar,
        such as postal addresses, telephone and fax numbers and e-mail
        addresses, for transmitting not specifically requested information is
        not allowed. We expressly reserve the right to take legal steps against
        the senders of so-called spam mails which violate this prohibition.
      </p>

      <h3>Rights of the Data Subject</h3>

      <p>
        If personal data are processed by you, you are affected within the
        meaning of the GDPR and you have the following rights towards the person
        responsible:
      </p>

      <h4>Right to information pursuant to Article 15 GDPR</h4>

      <p>
        You can ask the person in charge to confirm whether personal data
        concerning you will be processed by us.
      </p>

      <p>
        If such processing has taken place, you can request the following
        information from the person responsible:
      </p>

      <ol>
        <li>the purposes for which the personal data are processed;</li>
        <li>the categories of personal data which are processed;</li>
        <li>
          the recipients or categories of recipients to whom the personal data
          concerning you have been or will be disclosed;
        </li>
        <li>
          the planned duration of the storage of the personal data concerning
          you or, if specific information on this is not possible, criteria for
          determining the storage duration;
        </li>
        <li>
          the existence of a right to rectification or deletion of personal data
          concerning you, a right to limitation of processing by the person
          responsible or a right to object to such processing;
        </li>
        <li>the existence of a right of appeal to a supervisory authority;</li>
        <li>
          all available information on the origin of the data if the personal
          data are not collected from the data subject;
        </li>
        <li>
          the existence of automated decision-making, including profiling,
          pursuant to Article 22 paragraphs 1 and 4 GDPR and – at least in these
          cases – meaningful information on the logic involved and the scope and
          intended effects of such processing for the data subject.
        </li>
      </ol>

      <p>
        You have the right to request information as to whether the personal
        data concerning you is transferred to a third country or to an
        international organization. In this context, you may request to be
        informed of the appropriate guarantees pursuant to Article 46 GDPR in
        connection with the transmission.
      </p>

      <h4>Right of rectification in accordance with Article 16 GDPR</h4>

      <p>
        You have a right of rectification and/or completion towards the data
        controller if the personal data processed concerning you are incorrect
        or incomplete. The person responsible shall make the correction without
        delay.
      </p>

      <h4>
        Right to limitation of processing in accordance with Article 18 GDPR
      </h4>

      <p>
        You may request the restriction of the processing of your personal data
        under the following conditions:
      </p>

      <ol>
        <li>
          if you dispute the accuracy of the personal data concerning you for a
          period of time that allows the person responsible to verify the
          accuracy of the personal data;
        </li>
        <li>
          the processing is unlawful and you refuse to delete the personal data
          and instead request the restriction of the use of the personal data;
        </li>
        <li>
          the person responsible no longer needs the personal data for the
          purposes of the processing, but you need them to assert, exercise or
          defend legal claims; or
        </li>
        <li>
          if you have lodged an objection to the processing pursuant to Article
          21 paragraph 1 GDPR and it is not yet clear whether the legitimate
          reasons of the person responsible outweigh your reasons.
        </li>
      </ol>

      <p>
        If the processing of personal data concerning you has been restricted,
        such data may only be processed – apart from being stored – with your
        consent or for the purpose of asserting, exercising or defending rights
        or protecting the rights of another natural or legal person or on
        grounds of an important public interest of the Union or a Member State.
      </p>

      <p>
        If the processing restriction has been restricted according to the above
        conditions, you will be informed by the person responsible before the
        restriction is lifted.
      </p>

      <h4>Right to cancellation in accordance with Article 17 GDPR</h4>

      <h5>a) Duty to Delete</h5>
      <p>
        You may request the data controller to delete the personal data
        concerning you without delay, and the data controller is obliged to
        delete such data without delay if one of the following reasons applies:
      </p>

      <ol>
        <li>
          The personal data concerning you are no longer necessary for the
          purposes for which they were collected or otherwise processed.
        </li>
        <li>
          You revoke your consent on which the processing was based pursuant to
          Article 6 paragraph 1 letter a or Article 9 paragraph 2 letter a GDPR
          and there is no other legal basis for the processing.
        </li>
        <li>
          You object to the processing pursuant to Article 21 paragraph 1 GDPR
          and there are no overriding legitimate reasons for the processing, or
          you object to the processing pursuant to Article 21 paragraph 2 GDPR.
        </li>
        <li>
          The personal data concerning you have been processed unlawfully.
        </li>
        <li>
          The deletion of personal data concerning you is necessary to fulfil a
          legal obligation under Union law or the law of the Member States to
          which the data controller is subject.
        </li>
        <li>
          The personal data concerning you have been collected in relation to
          information society services offered pursuant to Article 8 paragraph 1
          GDPR.
        </li>
      </ol>

      <h5>b) Information to Third Parties</h5>
      <p>
        If the data controller has made the personal data concerning you public
        and is obliged to delete it pursuant to Article 17 paragraph 1 GDPR, he
        shall take appropriate measures, including technical measures, taking
        into account the available technology and the implementation costs, to
        inform data processors who process the personal data that you as the
        data subject have requested the deletion of all links to this personal
        data or of copies or replications of this personal data.
      </p>

      <h5>c) Exceptions</h5>
      <p>The right to deletion does not exist if the processing is necessary</p>

      <ol>
        <li>to exercise the right to freedom of expression and information;</li>
        <li>
          to fulfil a legal obligation which processing is subject to under the
          law of the Union or of the Member States to which the controller is
          subject or to perform a task carried out in the public interest or in
          the exercise of official authority vested in the controller;
        </li>
        <li>
          for reasons of public interest in the field of public health pursuant
          to Article 9 paragraph 2 letters h and i and Article 9 paragraph 3
          GDPR;
        </li>
        <li>
          for archiving purposes in the public interest, scientific or
          historical research purposes or for statistical purposes pursuant to
          Article 89 paragraph 1 GDPR, insofar as the law referred to under
          section a) is likely to make it impossible or seriously impair the
          attainment of the objectives of such processing, or
        </li>
        <li>to assert, exercise or defend legal claims.</li>
      </ol>

      <h4>Right of information pursuant in accordance with Article 19 GDPR</h4>

      <p>
        If you have exercised your right to have the data controller correct,
        delete or limit the processing, he/she is obliged to inform all
        recipients to whom the personal data concerning you have been disclosed
        of this correction or deletion of the data or restriction on processing,
        unless this proves impossible or involves a disproportionate effort.
      </p>

      <p>
        The person responsible shall have the right to be informed of such
        recipients.
      </p>

      <h4>Right to data transferability in accordance with Article 20 GDPR</h4>

      <p>
        You have the right to receive the personal data concerning you that you
        have provided to the person responsible in a structured, common and
        machine-readable format. In addition, you have the right to pass this
        data on to another person in charge without obstruction by the person in
        charge to whom the personal data was provided, provided that
      </p>

      <ol>
        <li>
          the processing is based on a consent pursuant to Article 6 paragraph 1
          letter a GDPR or Article 9 paragraph 2 letter a GDPR or on a contract
          pursuant to Article 6 paragraph 1 letter b GDPR and
        </li>
        <li>the processing is carried out using automated procedures.</li>
      </ol>

      <p>
        In exercising this right, you also have the right to request that the
        personal data concerning you be transferred directly by one person
        responsible to another person responsible, insofar as this is
        technically feasible. Freedoms and rights of other persons must not be
        affected by this.
      </p>

      <p>
        The right to data transferability does not apply to the processing of
        personal data necessary for the performance of a task carried out in the
        public interest or in the exercise of official authority vested in the
        controller.
      </p>

      <h4>Right of objection according to Article 21 GDPR</h4>

      <p>
        You have the right to object at any time, for reasons arising from your
        particular situation, to the processing of personal data concerning you
        under Article 6(1)(e) or (f) of the DSBER; this also applies to
        profiling based on these provisions.
      </p>

      <p>
        The data controller no longer processes the personal data concerning
        you, unless he can prove compelling reasons worthy of protection for the
        processing, which outweigh your interests, rights and freedoms, or the
        processing serves to assert, exercise or defend legal claims.
      </p>

      <p>
        If the personal data concerning you are processed for direct marketing
        purposes, you have the right to object at any time to the processing of
        the personal data concerning you for the purpose of such advertising;
        this also applies to profiling, insofar as it is associated with such
        direct marketing.
      </p>

      <p>
        If you object to the processing for direct marketing purposes, the
        personal data concerning you will no longer be processed for these
        purposes.
      </p>

      <p>
        You have the possibility to exercise your right of objection in
        connection with the use of Information Society services by means of
        automated procedures using technical specifications, notwithstanding
        Directive 2002/58/EC.
      </p>

      <h4>
        Right to revoke the data protection declaration of consent pursuant to
        Article 7 Paragraph 3 GDPR
      </h4>

      <p>
        You have the right to revoke your data protection declaration of consent
        at any time. The revocation of consent shall not affect the legality of
        the processing carried out on the basis of the consent until revocation.
      </p>

      <h4>
        Automated decision in individual cases including profiling according to
        Article 22 GDPR
      </h4>

      <p>
        You have the right not to be subject to a decision based exclusively on
        automated processing – including profiling – that has legal effect
        against you or significantly impairs you in a similar manner. This does
        not apply if the decision
      </p>

      <ol>
        <li>
          is necessary for the conclusion or performance of a contract between
          you and the person responsible,
        </li>
        <li>
          is admissible under Union or Member State law to which the person
          responsible is subject and that law contains appropriate measures to
          safeguard your rights, freedoms and legitimate interests, or
        </li>
        <li>is made with your express consent.</li>
      </ol>

      <p>
        However, these decisions may not be based on special categories of
        personal data pursuant to Article 9 paragraph 1 GDPR, unless Article 9
        paragraph 2 letter a or g GDPR applies and appropriate measures have
        been taken to protect your rights and freedoms and your legitimate
        interests.
      </p>

      <p>
        In the cases referred to in (1) and (3), the person responsible shall
        take reasonable measures to safeguard your rights, freedoms and
        legitimate interests, including at least the right to obtain the
        intervention of a person by the person responsible, to state his own
        position and to challenge the decision.
      </p>

      <h4>Right of appeal to a supervisory authority</h4>

      <p>
        Without prejudice to any other administrative or judicial remedy, you
        have the right of appeal to a supervisory authority, in particular in
        the Member State where you reside, work or suspect of infringement, if
        you believe that the processing of personal data concerning you is
        contrary to the GDPR.
      </p>
      <p>
        The supervisory authority to which the complaint has been lodged shall
        inform the complainant of the status and results of the complaint,
        including the possibility of a judicial remedy under Article 78 GDPR.
      </p>

      <h3>Data Protection Officer at Leibniz Universität Hannover</h3>

      Ass. iur. Simon Graupe, LL.M.<br /><br />

      Phone +49 511 762 8132<br />
      Fax +49 511 762 8258<br /><br />

      E-Mail:
      <a href="mailto:datenschutz@uni-hannover.de"
        >datenschutz@uni-hannover.de</a
      ><br /><br />

      Address<br />
      Königsworther Platz 1<br />
      30167 Hannover<br />
      Building 1502, Room 228<br /><br />

      <a
        href="https://www.uni-hannover.de/de/universitaet/organisation/praesidialstab-stabsstellen/datenschutz"
        >Go to DPO website</a
      >
    </div>
  </body>
</html>
